<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
 
    <add name="StringConexao" providerName="System.Data.SqlClient" connectionString="DATA SOURCE=192.0.0.4;Initial Catalog=databaseName;User ID=User;Password=XXXXX; " />
  </connectionStrings>
  <appSettings>
    <add key="credentials" value="client_credentials=" />
    <add key="ClientId" value="XXXXXX" />
    <add key="ClientSecret" value="XXXXX" />
    <add key="Basic" value="basic XXXXX" />
    <add key="url_autenticacao" value="https://api-sec-vlc.hotmart.com/security/oauth/token?"/>
    <add key="url_base_sandbox" value="https://sandbox.hotmart.com/" />
    <add key="url_base_prod" value="https://developers.hotmart.com/" />
    <add key="url_assinaturas" value="payments/api/v1/subscriptions" />
    <add key="url_vendas" value="payments/api/v1/sales/" />
  </appSettings>
</configuration>